#menu-titulo {
    font-size: 2.5rem;
    background-color: black;
    padding: 20px 40px;
    text-align: center;
}

#menu-conteudo {
    display: flex;
    background-color: #BBB;
} 

.menu-coluna {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

.menu-coluna > a {
    font-size: 1.3rem;
    padding: 8px 15px;
    color: black;
    text-decoration: none;
}

.menu-coluna > a:hover {
    background-color: #999;
}

.divisao {
    width: 3px;
    background-color: #333;
}